<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pgNm">The Bridge Admin User's Page</title>

    <div th:replace="fragments::pg-links"></div>
    <link rel="stylesheet" type="text/css" th:href
            ="@{/css/adminUserPg.css}" />
    <script th:src = "@{/js/theBridgeAU.js}" ></script>
    
    
</head>
    <body >
        <div class ="container-fluid m-auto" style="background-color:black;">
            <div class="navbar row bg-info">
                <div class="col-md-4"><button id ="openSideNavButton" class="btn btn-secondary" onclick="openNav()">Press For Navigation Menu</button></div>
                <div class="col-md-4"><h3 id="greeting" >Welcome to the
                    Bridge!</h3></div>
                <div class="col-md-4">
                    <a th:href="@{/theBridge/login}">
                        <button
                                class=" float-right btn btn-secondary" id
                                ="logoffButton">Logoff
                        </button>
                    </a>
                </div>
            </div>

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                <a id="hyperlinkedMessengerButton"
                   th:href="@{/theBridge/login/adminUser/editForm}">
                    <button id="grades_button"
                             class="sidenav_buttons btn btn-info">
                        Manage Admins</button>
                </a>
            </div>
            <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
            <div id="main" >
                <header id="header_main"></header>
                <main>

                </main>
                <footer>
                    <p id = "bottom-text">My id is: bottom-text, and I am in the footer of
                        this page.
                    </p>    
                </footer>
            
            </div>

            
            
        </div>
    
    </body>
</html>