body{

}

label{
    color:white;
    font-size:20px;

}
nav{
font-size:25px;
}

#mainSection{
background-color:transparent;
top:56px;
height:90%;
max-height:100%;
position:fixed;
width:77%;
max-width:77%;
left:23%;
z-index:1;
overflow-y:scroll;
background-image: url(../images/aBridgeClassroom.jpeg);
}

#leftSidenav{
height:90%;
max-height:90%;
width:23%;
max-width:23%;
position:fixed;
z-index:1;
overflow-y:scroll;
top:55px;
}

#innerLeftSideNav{
font-size:20px;
padding-top:18px;
padding-left:15px;
height:100%
width:100px;
background-color:transparent;
overflow-y:hidden;
overflow-x:hidden;

}

.logo{
    width: 100%;
    height: 100%;
}



a:hover{
     -ms-transform: scale(2, 3); /* IE 9 */
     -webkit-transform: scale(2, 3); /* Safari */
     transform: scale(1, 3);

}
button:hover{
   -ms-transform: scale(1.3, 3); /* IE 9 */
   -webkit-transform: scale(1.3, 3); /* Safari */
    transform: scale(1.3, 3);
}

.jumbotron{
background-color:transparent;
}

.formHeaders{
    background-image: linear-gradient(to right, black , rgba(255,0,0,0));
}