<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pgNm">The Test</title>

    <script src = "../static/bootstrap-4.3.1/jquery-slim.min.js" ></script>
    <link rel="stylesheet" type="text/css" href
            ="../static/bootstrap-4.3.1/dist/css/bootstrap.min.css" />
            <script src = "../static/js/test.js" ></script>
            <script src = "../static/bootstrap-4.3.1/dist/js/bootstrap.bundle.min.js" ></script>
            <script src = "../static/bootstrap-4.3.1/popper.min.js" ></script>
          
           
    
</head>
    <body >

      <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<h1><a data-toggle="modal" href="#exampleModal"  data-target="#exampleModal">Click Here!</a></h1>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is a message from me to you
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


     
  


    </body>
</html>